[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest = "*"
bandit = "*"
pre-commit = "*"
safety = "*"
bump2version = "*"

[packages]
pycryptodome = "*"
requests = "*"
six = "*"
ordereddict = "*"

[pipenv]
allow_prereleases = true
